#main-fetures tr th:first-child {
    width: 35%;
    border: 1px solid rgb(222, 226, 230);
}

#main-fetures tr td {
    border: 1px solid rgb(222, 226, 230);
}

#product-details {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #serach-container,
    #product-details {
        width: 90% !important;
    }
}